.Note-list {
    position: relative;
    /*width: 451px;*/
    height: 896px;
    left: 0%;
    top: 10%;
    /*margin-left: 2em;
    margin-right: 2em;*/
}

.Note-list-frame {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    
    background: linear-gradient(180deg, #FAFAFA 0%, rgba(255, 255, 255, 0) 100%);
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 20px; 
    overflow-y: scroll;
}

.Note-item {
    margin: 2%;
    height: 20%;

    background: linear-gradient(180deg, #FAFAFA 0%, rgba(255, 255, 255, 0) 100%);
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 20px;
}

.Head-row, .Date-row {
    border: none;
    top: 10%;

    font-family: 'Comfortaa';
    font-style: normal;
    font-size: 24px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: left;
}

.Head-row {
    font-weight: bold;
}

.Date-row {
    font-weight: 300;
}

.Delete-note {
    background: linear-gradient(180deg, #FFFFFF 0%, #f4f4f4 100%);
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 20px;
    float: right;
    color: #000000;
}
