.Note {
    /*position: absolute;*/
    width: 100%;
    height: 896px;
    left: 10%;
    top: 10%;

    background: linear-gradient(180deg, #FAFAFA 0%, rgba(250, 250, 250, 0) 100%);
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 20px;
}

.Note-title, .Note-body, .Note-tags {
    margin: 10px;
}

.Note-title {
    position: absolute;
    width: 90%;
    left: 2.33%;
    right: 0%;
    top: 1.9%;
    bottom: 86.83%;
    

    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: normal;
    font-size: 2.5vw;
    line-height: 4.54px;
    align-items: center;
    background: transparent;

    color: #000000;
    border: none;
}

.Note-body {
    position: absolute;
    /*width: 871px;*/
    width: 90%;
    left: 2.33%;
    right: 0%;
    top: 16.85%;
    bottom: 10.94%;
    
    font-family: Comfortaa;
    font-style: normal;
    font-weight: normal;
    font-size: 1.875vw;
    line-height: 40px;
    background: transparent;
    
    color: #000000;
    border: none;
}

.Note-tags {
    position: absolute;
    left: 2.33%;
    right: 65.82%;
    top: 92.86%;
    bottom: 1.9%;
    
    font-family: Comfortaa;
    font-style: normal;
    font-weight: normal;
    font-size: 1.25vw;
    line-height: 27px;
    
    align-items: center;
    background: transparent;
    
    color: #000000;
    border: none;
}

@media (max-width: 600px){
    .Note-title{
        font-size: 10.5vw;
    }

    .Note-body{
        font-size: 7.75vw;
    }

    .Note-tags {
        font-size: 5.25vw;
    }
}

.Note-body, .Note-tags, .Note-title:focus{
    outline: #C4C4C4;
}

.dash {
    border: 1px solid #c0c0c0;
}

.Up {
    position: relative;
    left: 0%;
    top: 14%;
}

.Down {
    position: relative;
    left: 0%;
    top: 90%;
}

.full{
    width: 100vw;
    display: flex; 
    flex:1;
}